body{
    background-color: antiquewhite;
    text-align: center;
}

section{
    background-color: white;
    height: 400px;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
    text-align: left;
}


footer{
    font-style: italic;
}
